@import '@angular/cdk/overlay-prebuilt.css';


:root {
  --colorPrimario: rgb(19, 19, 19);
  --colorSecundario: #298ccf;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

